* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100vw;
    display: flex;
    justify-content: center;
    background: url(./ee.jpg) no-repeat center center fixed;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px 50px;
    background-color:transparent
}

.welcome{
    min-height: 10px;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    width: 80%;
    max-width: 800px; 
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    left: 40px;
    top: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li {
    display: flex;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.nav-links a:hover {
    text-decoration: underline;
    color: black;
}


main {
    width: 80%;
    max-width: 1100px;
    margin: 100px auto 0;
    padding: 20px;
     
    background-color: transparent;
    border-radius: 10px;
}

.about-section {
    margin-top: 30px;
}


h1, h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

p, ul {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

.about-section > div {
    margin-bottom: 40px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.about-section > div h2 {
    color: #333;
}

.about-section > div p {
    color: #666;
}

.about-section > div ul {
    list-style-type: disc;
}

.about-section > div ul li {
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color:transparent;
    color: white;
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    left: 0; 
}

footer p {
    margin: 0;
}
