* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    width: 100vw;
    display: flex;
    justify-content: center;
    background: url(./ww.jpg) no-repeat ;
    align-items: center;
    height: 20vh;
  
    background-size: cover;
    background-repeat: no-repeat;

}
 
header  {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: right;
    padding: 20px 50px;
    background-color: none(0, 0, 0, 0.7);
    text-align: right;
    float: right;
    align-content: flex-end;
}

.navbar{

    display: flex;
    justify-content:ri;
    padding-right: 20px;
    font-weight: bold;
    text-align: right;
}
.navbar a{
    color: white;
    text-align: right;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    float: right;
}

.nav-links li {
    display:flex ;
   
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    float: right;
    font-weight: 600;
    float: right;
}

.nav-links a:hover {
    text-decoration: none;
    color:black;
    float: right;
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
    justify-content: left;
    width: 50px; 
    height: auto; 
   position: absolute;
    left:40px;
   margin-top: auto;

}


.container {
    text-align: center;
    position:absolute;
    bottom: 10px;
    right: 10px;
}

.images {
    display: inline-block;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.images img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.5s ease;
}


.images img:hover {
    transform: scale(1.2);
}


.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}


.btn, .btn1 {
    background-color: rgb(11, 95, 221);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    height: 30px;
    width: 75px;
    font-weight: bold;
    margin: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover, .btn1:hover {
    background-color: aqua;
}

.btn:active {
    background-color: black;
    color: white;
}

.btn1:active {
    background-color: white;
    color: black;
}