<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Voting</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='buttons.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>        
        <nav class="navbar">
            <div class="logo">VOTE</div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
               
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="images">
            <img src="{{ url_for('static', filename='bjp.png') }}" alt="Party 1">
            <img src="{{ url_for('static', filename='image2.jpeg') }}" alt="Party 2">
            <img src="{{ url_for('static', filename='aap.jpeg') }}" alt="Party 3">
            <img src="{{ url_for('static', filename='jds.webp') }}" alt="Party 4">
        </div>

       
        <div class="buttons">
            <a href="/admin"><button class="btn">Admin</button></a>

            <a href="/voter"><button class="btn1">Voter</button></a>
            
            
        </div>
    </div>
</body>